[submodule "externals/ogre-procedural"]
	path = externals/ogre-procedural
	url = git://github.com/ducttape/ogre-procedural.git
[submodule "externals/btogre"]
	path = externals/btogre
	url = git://github.com/ducttape/btogre.git
